@use "./abstracts/variables" as *;

body {
  font-size: 16px;
  color: $purple;
}

body {
  background: url(../images/bg-pattern-bottom-mobile.svg) bottom right,
    url(../images/bg-pattern-top-mobile.svg);
  background-size: 70vh;
  background-repeat: no-repeat;
}

@media (min-width: 374px) {
  div.box {
    margin: 3rem 1.2rem;
  }
  span {
    display: block;
    width: 100%;
  }

  main {
    padding: 0;
    margin-bottom: 2rem;
    text-align: center;
    h1 {
      width: 60%;
      margin: 0.5rem auto;
      line-height: 1.6rem;
    }
    p {
      color: $gray;
      font-weight: 500;
      margin: 1rem 2rem;
    }
    .rated {
      div {
        padding-top: 0.5rem;
        font-weight: 700;
      }
      aside {
        background-color: $almost-white;
        margin-bottom: 0.7rem;
        border-radius: 0.5rem;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding-top: 1rem;
      }
    }
  }
}

div {
  display: inline-block;
  margin-left: 1rem;
  padding: 1rem 0;
}

span > img {
  padding: 0 3px;
}

/* Cards section */

article.card {
  color: white;
  background-color: $purple;
  padding: 1.4rem;
  border-radius: 0.5rem;
  margin-top: 1rem;
  font-weight: 500;
  .profile {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    img {
      border-radius: 50%;
      width: 14%;
      height: 14%;
    }
    .name {
      h4 {
        display: block;
        width: 100%;
        margin: 5px;
      }
      p {
        margin: 5px;
        color: $pink;
        font-weight: 400;
        padding: 0;
      }
    }
  }
}

/* Desktop */

@media (min-width: 1200px) {
  body {
    background: url(../images/bg-pattern-bottom-desktop.svg) bottom right,
      url(../images/bg-pattern-top-desktop.svg);
    background-size: 70vh;
    background-repeat: no-repeat;
    height: 100vh;
  }
  div.box {
    margin: 7% 10%;
    padding-bottom: 0;
  }
  .box {
    max-width: 90vw;
    max-height: 100vh;

    main {
      text-align: start;

      display: flex;
      max-height: 40%;
      justify-content: space-between;
      .top {
        max-width: 35%;
        h1 {
          margin: 0;
          font-size: 2.7rem;
          line-height: 2.3rem;
          width: 90%;
          margin-bottom: 1.7rem;
        }
        p {
          margin: 0;
        }
      }
      .rated {
        min-width: 55%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 0.5rem;

        span {
          width: fit-content;
          padding-bottom: 2%;
          margin-right: 1rem;
        }
        aside {
          max-width: 70%;
          max-height: 12%;
          padding: 0.57rem;
          margin-left: 10%;
        }
        aside:first-child {
          padding-left: 0;
          padding-right: 1rem;
        }
        .second-aside {
          margin-left: 20%;
        }
        aside:last-child {
          margin-left: auto;
          padding-right: 2rem;
          padding-left: 1.5rem;
        }
      }
    }
  }

  section.cards {
    display: flex;
    gap: 1.2rem;
    min-height: 60%;

    .card:nth-child(2) {
      padding-bottom: 1.7rem !important;
      height: fit-content !important;
    }

    .card:first-child {
      align-self: flex-start;
      margin-top: 0;
    }
    .card:last-child {
      align-self: flex-end;
      margin-top: 2rem;
      padding-bottom: 2rem;
    }
  }
  .attribution {
    display: block;
    text-align: center;
  }
}

@media (min-width: 1440) {
  body,
  p {
    font-size: 21px;
  }
}
